body {
    font-family: Tahoma, serif;
    background-color: #f0f0f0;
    color: cornflowerblue;
    width: 100%;
}

label {
    max-width: 250px;
    word-break: break-all;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

#head-line {
    color: #f0f0f0;
    font-size: 28px;
    text-align: center;
    background-color: darkgray;
    height: 35px;
    margin-bottom: 20px;
}

#head-line div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#list-head {
    width: 300px;
    margin: 0 auto;
}

#list {
    width: 300px;
    margin: 0 auto;
    line-height: 1.5;
}

#list li {
    border-top: 1px dotted silver;
    max-width: 300px;
    font-size: 25px;
}

#list-filter {
    position: fixed;
    left: 0;
    top: 35px;
    width: 30px;
    z-index: 100;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

.done {
    color: crimson;
    text-decoration: line-through;
}

input[type="text"] {
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 28px;
    width: 300px;
    color: #cccccc;
    font-size: 20px;
    line-height: 1.2;
}

.btn {
    text-align: center;
    width: 25px;
    -moz-box-shadow: inset 0 1px 0 0 #ffffff;
    -webkit-box-shadow: inset 0 1px 0 0 #ffffff;
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9', GradientType=0);
    background-color: #f9f9f9;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

.btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background: -moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: -webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: -o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: -ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9', GradientType=0);
    background-color: #e9e9e9;
}

.btn:active {
    position: relative;
    top: 1px;
}

#sort {
    margin: 5px 132px;
}

#sort ul li {
    display: block;
}

.arrow {
    display: inline-block;
    height: 18px;
    width: 36px;
}

.up {
    background: url("../images/arrows.png") 0 0;
}

.down {
    background: url("../images/arrows.png") 0 -18px;
}